{% extends "frontend/layout.html" %}
{% load static %}

{% block title %}
    Cart
{% endblock %}

{% block content %}
    {{ block.super }}

    <div class="cart">
        <div id="cart-items">
            <ul>
                <cartitem
                        v-for="item in items"
                        v-bind:item="item"
                        v-bind:key="item.id"
                >
                    <template id="tpl-cart-item">
                        <li class="cart-item">
                            ${ item.product_name }
                             (<a href="#" class="proditem__link" @click="remove_from_cart(item.id)">remove</a>)
                        </li>
                    </template>
                </cartitem>
            </ul>
        </div>
    </div>
{% endblock content %}

{% block js_bottom %}
    {{ block.super }}

    <script>
        Vue.component('cartitem', {
            delimiters: ['${', '}'],
            props: ['item'],
            template: '#tpl-cart-item',
            methods: {
                remove_from_cart: function(item_id) {
                    var data = {
                        item_id: item_id,
                    };
                    $.post('/carts/remove-from-cart/', data).success(function(d){
                        alert('ok');
                    })
                }
            }
        });
        $.get('/carts/get-cart-data-ajax/', function(data){
            console.log(data.items);
            var cart_items = new Vue({
                delimiters: ['${', '}'],
                el: '#cart-items',
                data: {
                    items: data.items,
                }
            });
        });
    </script>
{% endblock %}
