{% extends "frontend/layout.html" %}
{% load static %}

{% block title %}
    Catalog
{% endblock %}

{% block content %}
    {{ block.super }}

    <div class="prodcatalog">
        <div class="prodcatalog__filters"></div>

        <div id="products-list">
            <ul>
                <proditem
                        v-for="product in products"
                        v-bind:product="product"
                        v-bind:key="product.id"
                >
                    <template id="tpl-proditem">
                        <li class="proditem">
                            <strong>${ product.name }</strong>
                             (<a href="#" class="proditem__link" @click="add_to_cart(product.id)">Add to cart</a>)
                        </li>
                    </template>
                </proditem>
            </ul>
        </div>
    </div>
{% endblock content %}

{% block js_bottom %}
    {{ block.super }}

    <script>
        Vue.component('proditem', {
            delimiters: ['${', '}'],
            props: ['product'],
            template: '#tpl-proditem',
            methods: {
                add_to_cart: function(product_id) {
                    var data = {
                        product_id: product_id,
                        quantity: 1,
                    };
                    $.post('/carts/add-to-cart/', data, function(d){
                        alert('ok');
                    })
                }
            }
        });
        $.get('/catalog/products-ajax/', function(data){
            var product_list = new Vue({
                delimiters: ['${', '}'],
                el: '#products-list',
                data: {
                    products: data['objects'],
                }
            });
        });
    </script>
{% endblock %}
