{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agora 2</title>
    {% block css %}{% endblock css %}
</head>
<body>
    <div class="main-nav">
        <span class="nav-item">
            <a href="{% url "frontend:catalog_page" %}">Каталог</a>
            <a href="{% url "frontend:cart_page" %}">Козина</a>
        </span>
    </div>

    <h1>{% block title %}{% endblock title %}</h1>
    {% block content %}{% endblock content %}
    {% block js_bottom %}
        <script src="{% static "third-party/jquery-3.2.1.min.js" %}"></script>
        <script src="{% static "third-party/vue/vue.min.js" %}"></script>
    {% endblock js_bottom %}
</body>
</html>